doctype html
html(lang="en")
  head
    title= "Blamer"
    link(rel="stylesheet", href="lib/jstree/dist/themes/default/style.min.css")
    script(src="lib/jstree/dist/libs/jquery.js")
    script(src="lib/jstree/dist/jstree.min.js")
    script(src="js/index.js")

  body
    div#root


